@{
    ViewBag.Title = "Mensajes";
    Layout = "~/Views/Shared/_General.cshtml";
}


<style type="text/css">

</style>


<div class="container">
<div class="col-md-9">

   <div class="container-info">@*panel panel*@                    
    
       <!-- Sección notas importantes o de ultima hora-->
    <div class="alert alert-success alert-dismissable fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span><b>Aviso importante:</b> Le recordamos que el periodo de inscripción para el ciclo academico 2015-2016 podrá realizarlo en el mes de julio.Para más información haz click 
                <a href="#" data-toggle="modal" data-target="#modal-video-tutorial" data-backdrop="static" data-keyboard="false" >aquí</a></span>
    </div>
    <hr />   
       
       
    <div class="page-header">
        <h3 id="timeline">Bienvenido B. Obama</h3>@ViewBag.nombreCompleto
        <p>Estos son tus servicios disponibles en tu escuela</p>
    </div>
    
<div class="row">



<div class="col-lg-6 col-md-6 col-sm-6">
    <div class="style-box-one Style-one-clr-one">
        <a href="#">
            <span class="glyphicon glyphicon-calendar"></span>
            <h5>Calendario academico </h5>
        </a>
    </div>
</div>



<div class="col-lg-6 col-md-6 col-sm-6">
      <div class="style-box-one Style-one-clr-two">
            <a href="#">
            <span class="glyphicon glyphicon-pencil"></span>
            <h5>Inscripciones</h5>
        </a>
    </div>
</div>


<div class="col-lg-6 col-md-6 col-sm-6">
        <div class="style-box-one Style-one-clr-three">
        <a href="#">
           <span class="glyphicon glyphicon-cutlery"></span>
           <h5>Cafeteria</h5>
         </a>
        </div>
</div>


<div class="col-lg-6 col-md-6 col-sm-6">
            <div class="style-box-one Style-one-clr-four">
                <a href="#">
                    <span class="glyphicon glyphicon-usd"></span>
                    <h5>Estado de cuenta y pago en linea</h5>
                 </a>
             </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
    <div class="style-box-one Style-one-clr-five">
        <a href="#">
            <span class="glyphicon glyphicon-book"></span>
            <h5>Salon de clases</h5>
        </a>
    </div>
</div>
    

<div class="col-lg-6 col-md-6 col-sm-6">
    <div class="style-box-one Style-one-clr-one">    
    <a href="http://htmladmin.com/live-previews/version-1-0/html-admin/index2.html" target="_blank">
            <span class="glyphicon glyphicon-book"></span>
            <h5>mas ejemplos</h5>
        </a>
    </div>
</div>



<div class="col-lg-6 col-md-6 col-sm-6">
      <div class="style-box-one Style-one-clr-two">
            <a href="#">
            <span class="glyphicon glyphicon-education"></span>
            <h5>Calificaciones</h5>
        </a>
    </div>
</div>



@*  <div class="page-header">
        <h3>Noticias</h3>
      <p>Estas son las ultimas noticias</p>
    </div>
    *@


@*    <div class="row">
      <div class="page-header">
        <h3>Noticias</h3>
        <p>Ultimas noticias emitidas por tu escuela</p>
    </div>
        </div>*@



</div>





</div>
               
</div>


<div class="col-md-3">
      <div class="container-info-gray" style="position:fixed;">
          

 @*   <div class="col-lg-6 col-md-6 col-sm-6">*@
        
     

    @*</div>*@
  
    
<div class="widget-wrapper">
                        <ul>
                            <li class="header-top">
                                
                             @*<span class="glyphicon glyphicon-folder-open"></span>*@    Panel de navegación
                            </li>
                          
                            
                             <li>
                                 <span>Elemento 1</span>

                             @* <span class="glyphicon glyphicon-print"></span>  Lorem ipsum dolor sit <span class="badge clr-bk-primary">76</span>*@
                            </li>
                            <li>
                                <span>Elemento 2</span>
                              @* <span class="glyphicon glyphicon-camera"></span>   Quisque sed tincidunt  <span class="badge clr-bk-success">35</span>*@
                            </li>
                            <li>
                                <span>Elemento 3</span>
                             @*<span class="glyphicon glyphicon-headphones"></span>   Nunc euismod neque a urna<span class="badge clr-bk-warning">890</span>*@
                            </li>
                             <li>
                                 <span>Elemento 4</span>
                             @* <span class="glyphicon glyphicon-random"></span>  Lorem ipsum dolor sit <span class="badge clr-bk-primary">76</span>*@
                            </li>
                             <li>
                                 <span>Elemento 5</span>
                 @*              <span class="glyphicon glyphicon-camera"></span>   Quisque sed tincidunt  <span class="badge clr-bk-success">35</span>*@
                            </li>
                        </ul>
                    </div>

      </div>
</div>


    </div>