@{
    ViewBag.Title = "Aviso de privacidad";
    Layout = "~/Views/Shared/_General.cshtml";
}


<style type="text/css">

h3 {
    text-align:center;
}

</style>


<div class="container">

<div class="col-md-12">
                   <div class="container-info">
           
           <h3>Aviso de privacidad</h3>

          <h4>Identidad y domicilio del Responsable</h4>

          <p>El Responsable de los datos personales que usted proporciona es ENSEÑANZA E INVESTIGACIÓN SUPERIOR, A.C. (en adelante “Universidad Tecmilenio”), ubicado en Av. Eugenio Garza Sada No. 2501 Sur, Col. Tecnológico, Monterrey, Nuevo León, C.P.64849.</p>

          <h4>Datos personales y datos personales sensibles tratados por Tecmilenio</h4>

          <p>Universidad Tecmilenio como parte de su registro de alumnos recabará y tratará datos personales de identificación, datos personales de contacto, datos personales laborales, datos personales sobre características físicas, datos personales académicos, datos personales patrimoniales, datos personales financieros y datos personales biométricos.</p>

          <p>Asimismo, le informamos que para cumplir con las finalidades primarias y necesarias señaladas en el presente Aviso Universidad Tecmilenio recabará y tratará los siguientes datos personales sensibles: datos personales de salud, datos personales ideológicos y datos personales sobre opiniones políticas. Le informamos que el tratamiento de los mencionados datos personales sensibles tiene como propósito que Universidad Tecmilenio cumpla con las obligaciones derivadas de la relación jurídica que tenemos con usted. Nos comprometemos a que los mismos serán tratados bajo estrictas medidas de seguridad, siempre garantizando su confidencialidad.</p>

          <p>Por otro lado, le informamos que Universidad Tecmilenio recabará y tratará datos personales de identificación, datos personales de contacto, datos personales laborales y datos personales patrimoniales de sus familiares y/o terceros con los que usted tenga una relación que sean necesarios para cumplir con las finalidades primarias y necesarias de la relación jurídica establecida con usted. De este modo, al proporcionar los datos personales necesarios relacionados con sus familiares y/o terceros usted reconoce tener el consentimiento de éstos para que Universidad Tecmilenio trate éstos para cumplir con las finalidades primarias y necesarias señaladas en el presente Aviso.</p>

          <h4>Finalidades primarias</h4>

          <p>Universidad Tecmilenio tratará sus datos personales para las siguientes finalidades primarias y necesarias para cumplir con nuestras obligaciones derivadas de nuestra relación jurídica:</p>


         <ul>
         <li>Para prestarle todos los servicios y realizar todas las actividades que resulten necesarias para el desarrollo de académico y extracurricular y contribuir a su formación integral.</li>
         <li>Para evaluarle e informarle del desempeño académico y extracurricular.</li>
         <li>Para difundirle conocimientos del más alto nivel ético, científico, tecnológico y profesional.</li>
         <li>Para otorgarle apoyos económicos, becas y/o préstamos, en caso de cumplir los requisitos establecidos.</li>
         <li>Para enviarle información sobre asuntos escolares y administrativos.</li>
         <li>Para inscribirle a programas de vinculación con universidades en el extranjero.</li>
         <li>Para la creación de un perfil de alumno y asignarle una matrícula.</li>
         <li>Para identificarle en la aplicación de exámenes.</li>
         <li>Para la asignación y/o selección de residencia.</li>
         <li>Para la administración de su estancia escolar en Universidad Tecmilenio.</li>
         <li>Para la administración del acceso físico a las instalaciones de Universidad Tecmilenio.</li>
         <li>Para la administración del acceso electrónico a los sistemas e infraestructura tecnológica de Universidad Tecmilenio.</li>
         <li>Para contactar a sus familiares o terceros de contacto en caso de una emergencia.</li>
        
         <li>Para la contratación y/o cancelación de los seguros necesarios.</li>
         <li>Para realizar reportes semanales, mensuales y anuales.</li>

         <li>Para las gestiones de facturación y procesos de cobranza correspondientes.</li>
         <li>Para el registro y acreditación del servicio social comunitario y/o profesional.</li>
         
         <li>Para la elaboración de identificaciones.</li>
         <li>Para la compra – venta de certificados.</li>

         <li>Para revalidación y acreditación de estudios, así como para realizar todos los trámites necesarios ante las autoridades escolares correspondientes.</li>
         <li>Para inscribirle a eventos y/o actividades extracurriculares en las que participe representando a Universidad Tecmilenio.</li>
         <li>Para llevar un expediente y control médico de medicinas y necesidades de salud especiales que tenga, y para saber si está en condiciones físicas de realizar deportes y/o otras actividades necesarias.</li>

         </ul>


          <h4>Finalidades secundarias</h4>


          <p>De manera adicional, Universidad Tecmilenio utilizará su información personal para las siguientes finalidades que no son necesarias para el servicio que nos solicita, pero que nos permiten y facilitan brindarle una mejor atención:</p>

          <ul>
              <li>Para enviarle información promocional de cursos, diplomados, seminarios, simposios, talleres extra-académicos y eventos.</li>
              <li>Para que su imagen personal (ya sea foto, video, etc.) sea utilizada en la elaboración de material informativo y promocional.</li>
              <li>Para realizar difusión de felicitaciones y demás celebraciones y días especiales, así como de reconocimientos por logros destacados.</li>
              <li>Para la aplicación de encuestas y evaluaciones para mejorar la calidad de los productos y servicios que ofrecemos.</li>
              <li>Para gestionar su perfil en nuestra bolsa de trabajo.</li>
              <li>Para realizar estudios de hábitos de consumo.</li>
              <li>Para promocionar la vida académica, de investigación, de extensión, los eventos deportivos, culturales, recreativos y sociales que realiza Universidad Tecmilenio.</li>
              <li>Para enviarle publicidad y comunicaciones con fines de mercadotecnia, tele-marketing o campañas financieras.</li>
              <li>Para informar a sus familiares y/o terceros autorizados sobre su desempeño académico y extracurricular</li>
          </ul>


          <p>En caso de que no desee que sus datos personales sean tratados para alguna o todas las finalidades adicionales, 
              desde este momento usted nos puede comunicar lo anterior al correo <a href="mailto:aviso.privacidad@servicios.tecmilenio.mx">aviso.privacidad@servicios.tecmilenio.mx</a></p>

          <p>La negativa para el uso de sus datos personales para fines adicionales, no podrá ser un motivo para negarles los servicios solicitados o dar por terminada la relación establecida con nosotros.</p>


          <h4>Transferencias </h4>

          <p>Universidad Tecmilenio para cumplir las finalidades necesarias anteriormente descritas u otras aquellas exigidas legalmente
               o por las autoridades competentes transferirá los datos personales necesarios a las siguientes organizaciones y para los siguientes fines:</p>

<!-- Seccion de tabla -->
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th style="text-align:center;">Tercero receptor</th>
                <th style="text-align:center;">Finalidad</th>
                <th>Consentimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Universidades extranjeras</td>
                <td>Para llevar a cabo intercambios de alumnos</td>
                <td>No necesario</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Autoridades escolares</td>
                <td>Acreditar estudios, calificaciones, exámenes y certificaciones siempre y cuando sea exigido por una Ley.</td>
                <td>No necesario</td>
               </tr>
            <tr>
                <td>3</td>
                <td>Empresas que formen parte de la bolsa de trabajo de Universidad Tecmilenio</td>
                <td>Para ofrecer oportunidades de trabajo</td>
                <td>Necesario</td>

            </tr>
             <tr>
                <td>4</td>
                <td>Instituciones escolares nacionales educativas y no educativas</td>
                <td>Para validar la autenticidad de los certificados, diplomas, títulos o grados que se expidan a mi favor.</td>
                <td>Necesario</td>
            </tr>

            <tr>
                <td>5</td>
                <td>Empresas, Instituciones y/o terceros que lleven a cabo eventos, concursos y/o competiciones</td>
                <td>Para inscribirle en los diversos eventos, concursos y/o competiciones en los que participe en representación de Universidad Tecmilenio (Actividades estudiantiles, culturales, artísticas, deportivas, etc.)</td>
                <td>No necesario</td>
            </tr>

              <tr>
                <td>6</td>
                <td>Empresas que forman parte del grupo societario de Universidad Tecmilenio</td>
                <td>Para la correcta prestación de la relación jurídica que tenemos con usted.</td>
                <td>No necesario</td>
            </tr>

            
              <tr>
                <td>7</td>
                <td>Instituciones bancarias</td>
                <td>Para realizar las gestiones de pagos necesarias</td>
                <td>No necesario</td>
             </tr>

             <tr>
                <td>8</td>
                <td>Sorteos TEC</td>
                <td>Para llevar a cabo la promoción y ofrecimiento de sus productos y servicios</td>
                <td>Necesario</td>
             </tr>

            <tr>
                <td>9</td>
                <td>El Instituto Tecnológico y de Estudios Superiores de Monterrey</td>
                <td>Para la correcta prestación de la relación jurídica que tenemos con usted.</td>
                <td>No necesario</td>
             </tr>

                <tr>
                <td>10</td>
                <td>Aseguradoras</td>
                <td>Para gestiones de seguros y/o rembolsos</td>
                <td>No necesario</td>
             </tr>

              <tr>
                <td>11</td>
                <td>Empresas terceras, autoridades y entidades financieras con quien tengan celebrados convenios y contratos</td>
                <td>Para llevar a cabo el vínculo con los alumnos de Universidad Tecmilenio para la realización de prácticas profesionales</td>
                <td>Necesario</td>
             </tr>

              <tr>
                <td>12</td>
                <td>Empresas terceras que tengan celebrados convenios de colaboración con Tecmilenio</td>
                <td>Para llevar a cabo la promoción y ofrecimiento de sus productos y servicios</td>
                <td>Necesario</td>
             </tr>

              <tr>
                <td>13</td>
                <td>Autoridades competentes</td>
                <td>En los casos legalmente previstos</td>
                <td>No necesario</td>
             </tr>

        </tbody>
    </table>
</div>
<!-- Fin tablas -->
          
          <p>Si usted no desea que Universidad Tecmilenio transfiera sus datos personales para 
              aquellas transferencias para las cuales es necesario su consentimiento le pedimos 
              que envíe un correo electrónico a la dirección <a href="mailto:aviso.privacidad@servicios.tecmilenio.mx">aviso.privacidad@servicios.tecmilenio.mx</a>
               en donde se le atenderá en tiempo y forma.</p>



          <h4>Derechos ARCO y/o revocación del consentimiento</h4>
          <p>Usted o su representante legal podrá ejercer cualquiera de los derechos de acceso, rectificación,
          cancelación u oposición (en lo sucesivo “derechos arco”), así como revocar su consentimiento para el 
          tratamiento de sus datos personales enviando un correo electrónico al Comité de protección de datos
          personales de Universidad Tecmilenio a la dirección electrónica <a href="mailto:aviso.privacidad@servicios.tecmilenio.mx">aviso.privacidad@servicios.tecmilenio.mx</a>
          En este sentido, puede informarse sobre los procedimientos, requisitos y plazos para el ejercicio de sus Derechos ARCO y/o revocación del consentimiento en nuestra página de internet
          <a href="http://www.tecmilenio.mx/procedimientos_ARCO-RC" target="Solicitud de derechos ARCO-RC">http://www.tecmilenio.mx/procedimientos_ARCO-RC </a>
          </p>
          

          <h4>Limitación y/o Divulgación de sus datos</h4>

          <p>Usted podrá limitar el uso o divulgación de sus datos personales enviando su solicitud a la Universidad Tecmilenio 
              a la dirección <a href="mailto:aviso.privacidad@servicios.tecmilenio.mx" >aviso.privacidad@servicios.tecmilenio.mx</a> 
              En caso de que su Solicitud sea procedente se le registrará en el listado de exclusión propio de Universidad Tecmilenio.</p>



          <h4>Cambios al Aviso de Privacidad</h4>
          <p>Universidad Tecmilenio le notificará de cualquier cambio a su aviso de privacidad a través de 
              <a href="http://www.tecmilenio.mx/aviso_de_privacidad" target="Politicas de privacidad">http://www.tecmilenio.mx/aviso_de_privacidad</a></p>

<form id="AvisoPrivacidad" role="form" action="@Url.Action("ProcesarAvisoPrivacidad", "Inscripcion")" class="form-horizontal" method="post" novalidate="novalidate">
<div class="modal-footer">
        <button type="submit" class="btn btn-success" id="BtnAceptaAvisoPrivacidad" name="BtnAceptaAvisoPrivacidad" value="Acepta">Estoy de acuerdo. He leído este aviso de privacidad</button>
        <button type="submit" class="btn btn-default" id="BtnRechazoAvisoPrivacidad" name ="BtnRechazoAvisoPrivacidad" value="Rechaza">No estoy de acuerdo</button>
</div>
</form>

                            </div>
    </div>
</div>
